div.well.item {
    height: 350px;
}

.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
    border-radius: 0px;
}

div.portfolio-item div.hoverlay.image {
    height: 210px;
}

div.portfolio-item div.hoverlay.image img {
    height: 100%;
    margin: 0 auto;
    width: auto;
    max-width: 100%;
    display: block;
}