[mysqld]
innodb_buffer_pool_size=268435456
innodb_flush_method=fsync
innodb_use_native_aio=0
group_concat_max_len=8192
secure_file_priv=/var/www/html
sql_mode=NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION
